.idea/
*.iml
**/target
*.log
out/
pkits-testsuite/src/site/markdown/

docs/configs/tuTestObjects/
docs/dev/
LICENSE_PLACEHOLDER
Pipeline.CI.Jenkinsfile
Pipeline.DeployGitHub.Jenkinsfile
Pipeline.InternalRelease.Jenkinsfile
Pipeline.CodeCheck.Jenkinsfile

