.idea/
*.iml
**/target
*.log
out/
bin/
/pid.file
**/sampleAllTests.txt
/allFailedOrAborted.txt

docs/configs/tuTestObjects/
docs/configs/inttest/pkits_ltu_run.yml
docs/dev/
docker-compose-baseSut.yml
docker-compose-deployHot.yml
docker-compose-deployLTU_DEV.yml
*.Jenkinsfile
checkLicenses.sh

